/* =====##### *CSS-змінні* #####===== */

:root {
  /* === Selection Colors === */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-black: #000000;

  /* === Fonts === */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* === Text Colors === */
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --footer-text-color: #e7e9fc;

  /* === Background Colors ===*/
  --background-light-color: #ffffff;
  --backgraund-grey-color: #f4f4fd;
  --backgraund-dark-color: #2e2f42;
}

/* Скидання дефолтних стилів від браузера */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

/* Допоміжний контейнер та клас */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* =====##### *HEADER* #####===== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid var(--color-cornflower);
  background-color: var(--background-light-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -- The logo & Main navigation -- */

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);

  margin-right: 76px;
}
.logo-theme-light {
  color: var(--color-navy-blue);
}
.logo-theme-dark {
  color: var(--color-cloud);
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-ocean);
}

/* -- Contacts -- */

.address-container {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 40px;
}

.contact {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.contact:hover,
.contact:focus {
  color: var(--color-ocean);
}

/* =====##### *MAIN* #####===== */

/* -- Hero-image section -- */

.hero {
  background-color: var(--backgraund-dark-color);
  padding: 188px 0px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);

  width: 500px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}

.hero-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);

  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  display: block;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

/* -- Sections -- */

.feature {
  background-color: var(--background-light-color);
}

.features-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.definition {
  background-color: var(--background-light-color);
}
.definition-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team {
  background-color: var(--backgraund-grey-color);
}
.team-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.team-card {
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.filter-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 26px;

  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.button-container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 120xp;
  margin-bottom: 72px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.team-card-text {
  text-align: center;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

/* =====##### *FOOTER* #####===== */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--backgraund-dark-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
  color: var(--footer-text-color);
}
