/* =====##### *CSS-змінні* #####===== */

:root {
  /* === Selection Colors === */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-black: #000000;

  /* === Fonts === */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* === Text Colors === */
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --footer-text-color: #e7e9fc;

  /* === Background Colors ===*/
  --background-light-color: #ffffff;
  --backgraund-grey-color: #f4f4fd;
  --backgraund-dark-color: #2e2f42;
}

/* Скидання дефолтних стилів від браузера */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

/* =====##### *HEADER* #####===== */

.header {
  background-color: var(--background-light-color);
}

/* -- The logo -- */

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-theme-light {
  color: var(--color-navy-blue);
}
.logo-theme-dark {
  color: var(--color-cloud);
}

/* -- Main navigation -- */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-ocean);
}

/* -- Contacts -- */

.contact {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.contact:hover,
.contact:focus {
  color: var(--color-ocean);
}

/* =====##### *MAIN* #####===== */

/* -- Hero-image section -- */

.hero {
  background-color: var(--backgraund-dark-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.hero-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

/* -- Sections -- */

.section {
  background-color: var(--background-light-color);
}

.team-section {
  background-color: var(--backgraund-grey-color);
}

.filter-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* =====##### *FOOTER* #####===== */

.footer {
  background-color: var(--backgraund-dark-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}
